@import 'https://fonts.googleapis.com/css?family=Montserrat';
body {
    font: Montserrat, sans-serrif;
    padding: 16px;
}

th {
    background-color: rgb(241, 241, 241);
    text-align: left;
}

th, td {
    width: 144px;
    height: 32px;
    border: 1px solid #ccc;
}